<h1>FILTERA</h1>
<hr/>
<section class="insert">
	<h3>Add Filter Item</h3>
	<form action="/products/insert" method="post">
		<div class="input">
			<label for="title">JSON</label>
			<textarea rows="10" name="content"></textarea>
		</div>
		<button type="submit">INSERT</button>
	</form>
</section>